name: Publish

on:
  push:
    branches:
      - main
    paths:
      - "src/**"
      - "mod.ts"
      - "deno.json"
      - "deno.lock"

jobs:
  publish:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v6

      - uses: denoland/setup-deno@v2

      - name: Publish package to JSR
        run: deno publish
